{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 200,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "trailingComma": "es5"
}